# Build
/target/
rust-obd/

# Logs
*.log
*.log.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Old Node artifacts
node_modules/
package.json
package-lock.json
yarn.lock
tsconfig.json
